/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-overflow-scrolling: touch;
}
ol, ul, nav {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
    color: #000;
}
button{
    background: none;
    border: none;
}
body *{box-sizing: border-box; -webkit-overflow-scrolling: touch; font-family: 'Noto Sans KR', sans-serif;}

.wrap{margin: 0 auto; width: 100%; overflow: hidden; position: relative;}
.wrap::after{content: ''; display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-image: url('../images/bg_main_w.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; z-index: -1;}
header{position: fixed; background-color: #fff; width: 100%; z-index: 1; opacity: 0.8;}
header .head_logo {border-bottom: 1px solid darkgray; width: 100%; text-align: center; font-size: 32px; padding: 12px 0; font-weight: bold;}
header span{display: block; width: 0%; height: 3px; background-color: rgba(185, 58, 58, 1);}
header button{position: absolute; top: 15px;}
header .openBtn{right: 20px;}
header .changeMode{left: 20px;}
.menuArea{display: none; position: absolute; background-color: rgba(0, 0, 0, 0.8); width: 100%; height: 100vh; left: 0; top: 0; justify-content: center; align-items: center; flex-direction:  column; z-index: 100;}
.menuArea button{position: absolute; right: 20px; top: 10px; font-weight: bold; color: #fff; font-size: 24px;}
.menuArea li{opacity: 0; transform: translateY(100%);}
.menuArea li.on{opacity: 1; transform: translateY(0%); transition: all; transition-duration: 0.5s;}
.menuArea .info{margin-top: 30px;}
.menuArea .info li{color: #fff; font-weight: bold; text-align: center;}
.menuArea .info li a{color: #fff; font-weight: bold;}
.menuArea .info li+li{margin-top: 10px;}

.menuLists{display: flex; justify-content: center; align-items: center; flex-direction: column;}
.menuLists li{flex-wrap: wrap; text-align: center;}
.menuLists li + li{margin-top: 30px;}
.menuLists li a{display: block; color: #fff; font-weight: bold; font-size: 18px;}

.containal h2 {color: rgba(185, 58, 58, 1); font-size: 24px; text-align: center; margin-bottom: 20px; font-weight: bold;}
.firstPart{height: 300px; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.firstPart .today{font-weight: bold; font-size: 20px; text-align: center;}
.firstPart .eventClock{font-weight: bold; font-size: 48px;}
.firstPart .eventClock span{font-weight: bold; font-size: 20px;}
.firstPart .greeting span{font-weight: bold; font-size: 36px; display: inline-block; transform: translateX(300px) scale(0.5); opacity: 0;}
.firstPart .greeting span.on{animation-duration: 1.5s; animation-name: greeting; animation-fill-mode: forwards; transform: translateX(0%) scale(1); opacity: 1; transition: all;}
@keyframes greeting{
	0%{
		transform: translateX(300px) scale(0.5);
		opacity: 0;
	}
	70%{
		transform: translateX(-150%) scale(2);
	}
	100%{
		transform: translateX(0%) scale(1);
		opacity: 1;
	}
}

.containal{max-width: 780px; min-width: 320px; margin: 0 auto;}
.mainList{display: flex; flex-direction: row; flex-wrap: wrap;}
.mainList > dt{flex: 1 1 30%; font-weight: bold; text-align: left; padding-left: 20px; font-size: 14px;}
.mainList > dd{flex: 1 1 70%; text-align: left; padding: 0 0 20px 10px; font-size: 14px;}

.parts{opacity: 0; transform: translateY(20%);}
.parts.on{opacity: 1; transform: translateY(0); transition: all; transition-duration: 0.8s; transition-timing-function: ease-in-out;}
.parts + .parts{margin-top: 20px;}

.formArea form{text-align: center;}
.formArea form label{display: block;}
.formArea form button{display: inline-block;}
/* .projectLists{padding-bottom: 30%;} */
.projectLists ul{display: flex; flex-direction: row; flex-wrap: wrap; padding: 0 20px;}
.projectLists ul li{flex: 1 1 100%;  margin-top: 20px; opacity: 0; transform: translateY(100%); width: 100%;}
.projectLists ul li.on{opacity: 1; transform: translateY(0%); transition: all; transition-duration: 0.5s; transition-timing-function: ease-in-out;}
/* .projectLists ul li:nth-child(even){transform: translateY(150%); margin-left: 20px;}
.projectLists ul li.on:nth-child(even){opacity: 1; transform: translateY(50%);} */
.projectLists ul li.on:first-child{margin: 0;}
.projectLists ul li a{display: block; padding: 40% 10px 10px; border-radius: 10px; box-shadow: 4px 4px 6px darkgray; background-position: 0% center;}
.projectLists ul li span{background: rgba(255, 255, 255, 0.7); font-weight: bold; padding: 0 4px;display: inline-block;}
.projectLists ul li.on a.active{animation-duration: 6s; animation-name: movebackground;  animation-direction: alternate; animation-iteration-count: infinite;}
@keyframes movebackground{
	0%{
		background-position: 0% 0%;
	}
	100%{
		background-position: 100% 100%;
	}
}
.projectLists ul li:nth-child(1) a{background-image: url('../images/moveimg01.jpg'); background-repeat: no-repeat; background-size: 130% auto}
.projectLists ul li:nth-child(2) a{background-image: url('../images/moveimg02.png'); background-repeat: no-repeat; background-size: 130% auto}
.projectLists ul li:nth-child(3) a{background-image: url('../images/moveimg03.png'); background-repeat: no-repeat; background-size: 130% auto}
.projectLists ul li:nth-child(4) a{background-image: url('../images/moveimg04.png'); background-repeat: no-repeat; background-size: 130% auto}
.projectLists ul li:nth-child(5) a{background-image: url('../images/moveimg05.png'); background-repeat: no-repeat; background-size: 130% auto}
.projectLists ul li:nth-child(6) a{background-image: url('../images/moveimg06.png'); background-repeat: no-repeat; background-size: 130% auto}
.projectLists ul li:nth-child(7) a{background-image: url('../images/moveimg07.gif'); background-repeat: no-repeat; background-size: 130% auto}
.projectLists ul li a:active{transform: translateX(2px) translateY(2px); transition: all; transition-duration: 0.2s;}
.contectLists li{text-align: center;}
.contectLists li + li{margin-top: 10px;}
.contectLists li a{color: #000;}
footer{padding: 40px 0 20px; text-align: center;}
body.dark{color: #fff; background-color: #242424;}
body.dark header {color: #fff; background-color: #242424;}
body.dark header a{color: #fff;}
body.dark header button{color: #fff;}
body.dark .wrap::after{content: ''; display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-image: url('../images/bg_main_b.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; z-index: -1;}
/* body.dark .projectLists ul li a{color: #fff;} */
body.dark .contectLists a{color: #fff;}